<div class="main">
  <div class="container-fluid fw-bold">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-6 col-sm-6 col-10 text-center">
        <div class="title fw-bold mb-5">グループを作成する</div>
        <%= form_tag("/groups/create") do %>
        <div class="form-floating mb-3">
          <input name="name" value="<%= @name %>" class="form-control" id="floatingInput" placeholder="情報メディア創成学類">
          <label for="floatingInput">グループ名</label>
        </div>
        <div class="signin-button rounded">
          <button value="作成する" class="w-100 btn btn-lg text-white" type="submit">作成する</button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>