<div class="main users-new">
  <div class="container">
    <div class="row justify-content-center my-5">
      <div class="col-10 col-md-4 text-center">
        <% if @error_message %>
        <i class="fa-solid fa-circle-exclamation"></i>
        <div class="form-error">
          <%= @error_message %>
        </div>
        <% end %>
        <h1 class="h3 mb-5 pb-3 fw-bold">新規ユーザー登録</h1>
        <%= form_tag("/users/create") do %>
        <div class="form-floating mb-3">
          <input name="name" value="<%= @user.name %>" class="form-control" id="floatingInput"
            placeholder="name@example.com">
          <label for="floatingInput">ユーザ名</label>
        </div>
        <div class="form-floating mb-3">
          <input name="password" value="<%= @user.password %>" class="form-control" id="floatingPassword"
            placeholder="Password">
          <label for="floatingPassword">パスワード</label>
        </div>
        <div class="signin-button rounded">
          <button value="新規登録" class="w-100 btn btn-lg text-white" type="submit">新規登録する（評価する側＋される側）</button>
        </div>
        <% end %>
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
      </div>
    </div>
  </div>
</div>