<div class="about-main">
  <h2>ぶっちゃけさんとは</h2>
  <p>
    ぶっちゃけて言うと、あの人はどんな印象？<br>
    人の印象を投票しよう！ あの人は本当に面白いの？ それともつまらないの？<br>
    逆に他の人たちが自分のことをどう思っているかを見てみよう。<br>
    あなたを片想いしている人がここで判明するかも！？<br>
    恥ずかしくて言えないことも、匿名だからこそ言えるかも？ 片想いする人がここで明らかに！
  </p>
  <img class="about-img" src="/tweets.png">
</div>