<div class="main">
  <div class="container-fluid fw-bold">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-6 col-sm-6 col-12 text-center">
        <div class="title fw-bold mb-5">ぶっちゃけさんとは？</div>
        ぶっちゃけて言うと、あの人はどんな印象？<br>
        人の印象を投票しよう！ あの人は本当に面白いの？ それともつまらないの？<br>
        逆に他の人たちが自分のことをどう思っているかを見てみよう。<br>
        普段はわからない周りからの自分の姿を今解き明かそう！
      </div>
    </div>
  </div>
</div>