<div class="main">
  <div class="container-fluid">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-6 col-sm-6 col-10 text-center">
        <div class="top-title fw-bold my-5">ぶっちゃけて言うと、<br>あの人はどんな印象？</div>
        友達の印象を投票しよう！<br>
        逆に他の人たちが自分のことをどう思っているかを見てみよう。<br>
        普段はわからない周りからの自分の姿を今解き明かそう！
        <div class="row justify-content-center mt-5">
          <div class="my-5 col-10 col-md-5 text-center">
            <%= link_to("今すぐ始める", "/signup", class: "fw-bold text-decoration-none start-button-container") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>