.group-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  border-radius: 8px;
  /* Primary/500 */
  border: 2px solid #000000;
}

.group-button:hover {
  color: #6949ff;
  background: rgba(105, 73, 255, 0.08);
  border: 2px solid #6949ff;
}

.group-id {
  font-size: 12px;
  font-weight: normal;
}
