.unvoted {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 4px;
  background: #ffffff;
  border: 2px solid #eeeeee;
  border-radius: 100px;
}

.keyword-text {
  font-style: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 17px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
}

.question {
  font-style: normal;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 17px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
  @media (max-width: 576px) {
    font-size: 16px;
  }
}

.voted {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 4px;

  background: rgba(105, 73, 255, 0.08);
  border: 2px solid #6949ff;
  border-radius: 100px;
}

.unvoted:hover {
  color: black;
}

.voted:hover {
  color: black;
}

.liked-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 4px;
  background: rgba(231, 6, 114, 0.08);
  border: 2px solid #e70672;
  border-radius: 100px;
}

.unlike-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 4px;
  background: rgba(255, 255, 255, 0.08);
  border: 2px solid #d3d3d3;
  border-radius: 100px;
}

.like-done-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 4px;
  background: rgba(9, 216, 33, 0.08);
  border: 2px solid #09d821;
  border-radius: 100px;
}

.unlike-button:hover {
  color: black;
}
.liked-button:hover {
  color: black;
}

.unlike-icon {
  color: #d3d3d3;
}

.liked-icon {
  color: #e70672;
}

.green-heart {
  color: #09d821;
}

.love-icon {
  width: 14px;
  height: 14px;
  fill: #e70672;
}

.user-container {
  font-size: 26px;
  @media (max-width: 576px) {
    font-size: 20px;
  }
}

.user-name {
  font-size: 32px;
  @media (max-width: 576px) {
    font-size: 28px;
  }
}
