.signin-button {
  background-color: #6949ff;
}

.name-text {
  font-size: 18px;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.title {
  font-size: 32px;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}
.vote-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 4px;
  /* Primary/500 */
  background: #6949ff;
  border-radius: 100px;
}

.vote-button-container:hover {
  color: #ffffff;
}

.display-button-container {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 4px;
  /* Primary/500 */
  border: 2px solid #6949ff;
  border-radius: 100px;
}

.display-button-container:hover {
  color: #6949ff;
}

.display-text {
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* identical to box height, or 17px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  /* Primary/500 */
  color: #6949ff;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.vote-text {
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.left-result {
  box-sizing: border-box;
  background: rgba(105, 73, 255, 0.08);
  border: 2px solid #6949ff;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  .ratio-container {
    font-family: "Futura";
    font-style: normal;
    font-size: 48px;
    line-height: 140%;
    /* or 67px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;

    color: #6949ff;
    @media (max-width: 576px) {
      font-size: 28px;
    }
  }
}
.right-result {
  box-sizing: border-box;
  background: rgba(255, 74, 131, 0.08);
  border: 2px solid #ff4a83;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  .ratio-container {
    font-family: "Futura";
    font-style: normal;
    font-size: 48px;
    line-height: 140%;
    /* or 67px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;

    color: #ff4a83;
    @media (max-width: 576px) {
      font-size: 28px;
    }
  }
}

.option-container {
  font-family: "Futura";
  font-style: normal;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 28px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;

  color: #000000;
  @media (max-width: 576px) {
    font-size: 14px;
  }
}
